@import 'style/colors.scss';
@import 'style/breakpoints.scss';

.appLayout {
  // position: relative;
  max-width: 1600px;
  padding: 1rem 4rem;
  margin: 0 auto;
  background-color: $layoutBg;
  @media (max-width: $lg) {
    padding: 1.5rem;
  }
}
