@import 'style/colors.scss';
@import 'style/mixins.scss';
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: $white-bg;
  .left {
    display: flex;
    align-items: center;
    #logo {
      margin-right: 2.5rem;
      text-decoration: none;
    }
  }
  .right {
    position: relative;
    display: flex;
    align-items: center;
    div {
      margin-right: 1rem;
    }
  }
}

.userBtn,
.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgb(5, 123, 113);
  margin-right: 10px;
  padding: 0.5rem;
  text-align: center;
  border: none;
}

.popupHeader {
  display: flex;
  span {
    white-space: nowrap;
  }
  span:last-of-type {
    font-weight: normal;
  }
}