@import 'style/colors.scss';
@import 'style/breakpoints.scss';

.appLayout {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $app-bg;
  @media (max-width: $lg) {
    padding: 1.5rem;
  }
}
