@import '../../theme/colors.scss';

.button {
  width: 100%;
  border: none;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #67788a;
  background-color: $lightBlue;
  margin: 1rem 0;
  opacity: 0.9;
  border-radius: 6px;
  transition: 0.2s;
  &:hover {
    background-color: darken($lightBlue, 5%);
  }
}

.button[type='submit'] {
  background-color: lighten($blue, 5%);
  color: white;
  transition: 0.2s;
  &:hover {
    background-color: darken($blue, 3%);
  }
}
