@import 'style/mixins.scss';
@import 'style/colors.scss';

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 3rem;
  // justify-content: center;
  align-items: center;
  background-color: rgba(13, 13, 17, 0.983);
}

.formContainer {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  form{
    width: 100%;
    max-width: 600px;
    padding: 4rem;
    h1{
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
  }
}

.loginDescription{
  
}
