@import 'style/mixins.scss';
@import 'style/colors.scss';

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 18, 25, 0.963);
}

.formContainer {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  form{
    width: 100%;
    max-width: 600px;
    padding: 4rem;
    h1{
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
  }
}
