@import 'theme/colors.scss';

.container {
  margin: 2rem 0 0;
  justify-self: flex-end;
}
.textarea {
  width: 100%;
  min-height: 160px;
  margin-top: 0.5rem;
  resize: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $lightBlue;
  background-color: $lightGrey;
  &:focus {
    outline: none;
  }
}
