@import 'style/colors.scss';
@import 'style/mixins.scss';

.container {
  width: 100%;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  label {
    @include label;
  }
  input {
    @include input;
    &:invalid {
      border: 2px solid red;
    }
    &:required {
      border: 2px solid red;
    }
  }
  .error {
    border: 2px solid red;
  }
}
