@import 'style/colors.scss';

.formColumnContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formGroupRow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.formGroupColumn {
  display: flex;
  flex-direction: column;
  max-width: 660px;
}

.materialsContainer {
  display: flex;
  align-items: center;
  span {
    margin-right: 1rem;
  }
}

.checkboxListContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.rightColumnContainer {
  border-left: 1px solid $secondary-gray;
  padding-left: 3rem;
}

.rightGroupColumn {
  position: sticky;
  top: 0;
  top: 1.5rem;
}

.divider {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid $secondary-gray;
  &:last-child {
    margin-top: 32px;
  }
}

.inputContainer {
  margin-bottom: 12px;
}

.rowWrapper {
  display: flex;
}

.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 2rem;
}

.sectionTabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.checkbox {
  padding: 0.3rem;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer
}
