@import 'style/colors.scss';

.tabs {
  width: 100%;
  background-color: $white-bg;
  position: relative;
  .tabsContainer {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $secondary-gray;
  }

  .tabsHeading {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid grey;
  }
}
