@import 'style/colors.scss';
@import 'style/mixins.scss';

.container {
  justify-self: flex-end;
  label {
    @include label;
  }
  .textarea {
    width: 100%;
    min-height: 160px;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $matBlue;
    background-color: $inputBg;
    &:focus {
      outline: none;
      border: 1px solid $blue;
      background-color: $focusBg;
    }
  }
}
