@import 'style/colors.scss';

.settingsTable {
  position: relative;
  width: 100%;

  table {
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    border-collapse: collapse;
  }

  thead {
    th {
      font-weight: normal;
      text-align: left;
      background-color: white;
      white-space: nowrap;
      padding: .8rem;
      color: $secondary-graphite;
      &:last-child {
        text-align: center;
      }
    }
  }

  tbody {
    margin-top: 1rem;
    td {
      position: relative;
      padding:.8rem;

      &:last-child button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .tableRow {
    cursor: pointer;
    padding:20px;
    border-top: 1px solid $primary-lightGrey;
    &:hover{
      background-color: $focusBg;
    }
  }
}
