@import 'theme/colors.scss';

@mixin input {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $lightGrey;
  background-color: $inputBg;
  border: 1px solid #67788a;
  font-size: 14px;
  min-height: 40px;
  margin-top: 0;
  &:disabled {
    opacity: 0.8;
    background-color: $focusBg;
  }
  &:focus {
    border: 1px solid $blue;
    background-color: $focusBg;
  }
  &:read-only{
    background-color: rgb(242, 242, 242);
  }
  &:invalid{
    border: 2px solid red
  }
  &:required{
    border: 2px solid red

  }
}

@mixin select {
  @include input();
  &:read-only{
    background-color: $inputBg;
  }
  &:focus {
    border: 1px solid $blue;
    background-color: $focusBg;
  }
}

@mixin label {
  margin-bottom: 5px;
  margin-top: 10px;
  display: inline-block;
}
