@import 'style/colors.scss';

.layout {
  width: 100%;
}

.mainContainer,
.subcategoryContainer {
  display: flex;
  list-style: none;
}

.mainContainer {
  border-bottom: 1px solid $secondary-gray;
}

.subcategoryContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem 0;
}
