.productsList {
  position: relative;
  padding-bottom: 1rem;
  // height: 600px;
  // max-height: 600px;
  overflow-y: auto;
  padding-right: 10px;
  // @include scrollbar;
}

.head {
  display: grid;
  grid-template-columns:
    minmax(180px, 1fr) repeat(2, minmax(80px, 140px)) minmax(40px, 100px)
    minmax(80px, 140px) 40px;
  gap: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  padding-right: 8px;
  font-weight: bold;
  color: black;
  background-color: white;
  z-index: 1;
}

.block {
  display: flex;
  align-items: center;
  white-space: nowrap;
  & {
    display: flex;
    align-items: center;
  }
}

.sortable {
  cursor: pointer;
}