@import 'theme/colors.scss';

.formContainer {
  display: grid;
  grid-template-columns: 1fr 340px;
  column-gap: 4rem;
  width: 100%;
}

.formGroupContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formGroupRow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.formGroupColumn {
  display: flex;
  flex-direction: column;
  max-width: 660px;
}

.materialsContainer {
  display: flex;
  align-items: center;
  span {
    margin-right: 1rem;
  }
}

.checkboxList {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.rightPanel {
  border-left: 1px solid rgb(201, 201, 201);
  padding-left: 3rem;
}

.rightPanelColumn {
  position: sticky;
  top: 0;
  top: 1.5rem;
}

.tabsContainer {
  position: absolute;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: top left;
  left: 0;
  top: 50%;
  width: 100%;
}

.buttonContainer {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid darken($focusBg, 8%);
  &:last-child {
    margin-top: 32px;
  }
}

.materialList {
  position: relative;
}

.inputContainer {
  margin-bottom: 12px;
}

.rowContainer {
  display: flex;
}

.sectionHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.headerTabs {
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
}

.tabPanel {
  width: 100%;
  background-color: $lightBlue;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.sectionContent {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 2rem;
}

.sectionTabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.defaultCheckbox {
  padding: 0.3rem;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer
}
