$app-bg: #E7E7E7;
$app-bg: #ebedee;
$white-bg: #fdfdfd;


$primary-lightGrey: #e5e7ed;
$secondary-lightGrey: darken($white-bg, 1%);
$inputBg: #f9fafb;
$focusBg: #f4f5fa;
$readOnly: #F2F2F2;

$primary-blue: #0d6192;
$secondary-blue: #2177a9;
$primary-graphite: #353e48;
$secondary-graphite: #67788a;

$primary-gray: #d3d5df;
$secondary-gray: darken($focusBg, 9%);
