$layoutBg: #fdfdfd;

$lightGrey: darken($layoutBg, 1%);
$inputBg: #f9fafb;
$focusBg: #f4f5fa;

$primary-blue: #0d6192;
$secondary-blue: #2177a9;
$primary-graphite: #43505e;
$secondary-graphite: #67788a;

$primary-gray: #d3d5df;
$secondary-gray: darken($focusBg, 9%);
