$layoutBg: #fdfdfd;

$blue: #0d6192;
$lightBlue: #62b0de;
$matBlue: #67788a;
$lightBlue: #d5d7e1;
$focusBg: #f4f5fa;

$lightGrey: darken($layoutBg, 1%);
$inputBg: #fbfbfb;

$primary-gray: darken($focusBg, 9%);
$secondary-gray: darken($focusBg, 2%);
