@import 'style/colors.scss';

@mixin input {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $secondary-lightGrey;
  background-color: $inputBg;
  border: 1px solid #67788a;
  font-size: 14px;
  min-height: 40px;
  margin-top: 0;
  &:disabled {
    opacity: 0.8;
    background-color: $focusBg;
  }
  &:focus {
    border: 1px solid $primary-blue;
    background-color: $focusBg;
  }
  &:read-only {
    background-color: $readOnly;
  }
  &:invalid {
    border: 2px solid red;
  }
  &:required {
    border: 2px solid red;
  }
  &[type='file'] {
    background-color: $inputBg;
    cursor: pointer;
    &:hover {
      background-color: darken($inputBg, 2%);
    }
  }
  &[type='date'] {
    padding: 0 8px 0 10px;
  }

  &[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: darken($inputBg, 3%);
    font-size: 1rem;
    &:hover {
      background-color: darken($inputBg, 7%);
    }
  }
}

@mixin select {
  @include input();
  &:read-only {
    background-color: $inputBg;
  }
  &:focus {
    border: 1px solid $primary-blue;
    background-color: $focusBg;
  }
}

@mixin label {
  margin-bottom: 6px;
  margin-top: 10px;
  display: inline-block;
}
