@import 'style/colors.scss';
@import 'style/mixins.scss';

.tabContainer {
  margin-right: 2rem;
}
.subcategoryTabContainer {
  margin-left: 1rem;
}

.tab,
.subcategoryTab {
  position: relative;
  border: none;
  transition: all 0.2s;
  font: {
    size: 1rem;
  }
}

.tab {
  background-color: transparent;
  padding-bottom: 8px;
  opacity: 0.7;
  &.active {
    opacity: 1;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 100%;
      border-bottom: 3px solid #2175e5;
    }
  }
  font: {
    size: 1rem;
    weight: bold;
  }
}

.subcategoryTab {
  width: fit-content;
  min-width: 200px;
  padding: 0.8rem 0;
  background-color: $lightGrey;
  color: $matBlue;
  border-radius: 0.5rem;
  border: 1px solid $lightBlue;
  opacity: 1;
  &.active {
    background-color: darken($focusBg, 3%);
    color: $matBlue;
  }
  &:hover{
    background-color: darken($focusBg, 3%);
    color: $matBlue; 
  }
  font: {
    size: 1rem;
    weight: normal;
  }
}
