@import 'style/colors.scss';
.container {
  background-color: $lightGrey;
  padding: 0.5rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  font-size: 14px;
  border: 1px solid $matBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightGrey;
  p {
    margin: 0.5rem 0;
  }
}
