@import 'style/colors.scss';

.container {
  display: flex;
  text-transform: uppercase;

}

.checkbox {
  display: none;
  &:checked {
    + .label {
      background-color: darken($focusBg, 3%);
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-left: 10px;
  width: 65px;
  height: 48px;
  border: 1px solid $matBlue;
  border-radius: 5px;
  background: $lightGrey;
  user-select: none;
  backface-visibility: hidden;
  transition: all 0.2s;
  &:hover {
    background-color: darken($focusBg, 3%);
    cursor: pointer;
  }
  &:first-child{
    margin: 0;
  }
}

.error{
  border: 2px solid red
}
