@import 'style/colors.scss';

.tabContainer {
  margin-right: 0.6rem;
  position: relative;
  border: none;
  transition: all 0.2s;
}

.tab,
.active {
  width: fit-content;
  min-width: 110px;
  padding: 0.3rem 0;
  background-color: $lightGrey;
  color: $matBlue;
  border-radius: 0.5rem;
  border: 1px solid $lightBlue;
  opacity: 1;
  &:hover {
    background-color: darken($focusBg, 3%);
    color: $matBlue;
  }
  font: {
    size: 1rem;
    weight: normal;
  }
}
.active {
  padding: 0.3rem 0;
  background-color: darken($focusBg, 3%);
  color: $matBlue;
}
